/* ************************************************************** *
 *   UTILITY CLASSES
 * ************************************************************** */

/* Make a flex item take the maximum possible size */
.fdsport-flex-item-fill {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

/* Buttons */
.fdsport-btn {
    background: linear-gradient(#555, #333);
    border: 1px solid #333;
    box-shadow: 1px 1px 3px 0px #555;
    color: #EFEFEF;
    text-shadow: 1px 1px #333;
    transition: all 0.2s;
}

.fdsport-btn:hover,
.fdsport-btn:active {
    color: #EFEFEF;
    background: linear-gradient(#444, #333) !important;
}

a.fdsport-btn:visited {
    color: #EFEFEF;
    background: linear-gradient(#555, #333) !important;
}

/* Icon buttons */
.fdsport-btn-icon {
    padding: 0px;
    font-size: 2.3em;
    line-height: 0px;
    background: none;
}

/* Favorite button */
.fdsport-btn-favorite {
    /*
    background: linear-gradient(#FCFCFC, #EFEFEF);
    border-color: #CCC;
    box-shadow: 1px 1px 3px 0px #CCC;
    color: #444;
    text-shadow: 1px 1px #EEE;
    */

    width: 100%;
    padding-left: 0px;
    background: none;
    border: none;
    box-shadow: none;
    font-size: 0.9em;
    color: #444;
    text-align: left;
    text-shadow: none;
}

.fdsport-btn-favorite:hover,
.fdsport-btn-favorite:active {
    text-decoration: underline;
    color: #444;
    /*background: linear-gradient(#EFEFEF, #EFEFEF) !important;*/
    /*background: linear-gradient(#F4F4F4, #F4F4F4) !important;*/
    background: none !important;
}

.fdsport-btn-favorite:hover .fdsport-favorite-star,
.fdsport-btn-favorite:active .fdsport-favorite-star {
    transform: scale(1.1, 1.1);
}

a.fdsport-btn-favorite:visited {
    color: #444;
    /*background: linear-gradient(#FCFCFC, #EFEFEF) !important;*/
    background: none  !important;
}

/*
.fdsport-btn-favorite.fdsport-btn-favorite-true {
    background: linear-gradient(#EFEFEF, #EFEFEF);
    box-shadow: inset 1px 1px 2px 0px #CCC;
    text-shadow: none;
}

.fdsport-btn-favorite.fdsport-btn-favorite-true:hover,
.fdsport-btn-favorite.fdsport-btn-favorite-true:active {
    background: linear-gradient(#F4F4F4, #F4F4F4) !important;
}

a.fdsport-btn-favorite.fdsport-btn-favorite-true:visited {
    background: linear-gradient(#EFEFEF, #EFEFEF) !important;
}
*/

.fdsport-btn-favorite .fdsport-favorite-star {
    display: none;
    margin-right: 5px;
    font-size: 1.3em;
    color: #F8D40E;
    text-shadow: 1px 1px #EEE;
}

.fdsport-btn-favorite.fdsport-btn-favorite-true .fdsport-favorite-iftrue {
    display: inline-block;
}

.fdsport-btn-favorite.fdsport-btn-favorite-false .fdsport-favorite-iffalse {
    display: inline-block;
}


/* Show product button */
.fdsport-btn-show {
    background: linear-gradient(#FCFCFC, #EFEFEF);
    border-color: #CCC;
    box-shadow: 1px 1px 3px 0px #CCC;
    color: #444;
    text-shadow: 1px 1px #EEE;
}

.fdsport-btn-show:hover,
.fdsport-btn-show:active {
    color: #444;
    background: linear-gradient(#EFEFEF, #EFEFEF) !important;
}

a.fdsport-btn-show:visited {
    color: #444;
    background: linear-gradient(#FCFCFC, #EFEFEF) !important;
}


/* Separator line */
.fdsport-line {
    height: 0px;
    margin: 20px 0px;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0px 0px 2px 0px #DDDDDD;
}

/* Container with margins */
.fdsport-wrapper {
    margin: 10px 0px;
}

/* Circles with colors */
.fdsport-item-color {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.fdsport-item-color-red {
    background: #DD2222;
}
.fdsport-item-color-blue {
    background: #2222CC;
}
.fdsport-item-color-yellow {
    background: #EFEF22;
}



/* ************************************************************** *
 *   CAROUSEL & ANIMATIONS
 * ************************************************************** */
.fdsport-carousel {
    position: relative;
}

.fdsport-carousel .carousel-control-prev,
.fdsport-carousel .carousel-control-next {
    bottom: 90px;
}

.fdsport-carousel .fdsport-btn {
    position: absolute;
    bottom: 50px;
}

/* Animations */
@keyframes fdsport-carousel-btn-show {
    0% {opacity: 0; margin-bottom: -200px;}
    60% {opacity: 0; margin-bottom: -200px;}
    100% {opacity: 1; margin-bottom: 0px}
}

@keyframes fdsport-carousel-btn-hide {
    from {opacity: 1; margin-bottom: 0px;}
    to {opacity: 0; margin-bottom: -200px;}
}

.fdsport-carousel .carousel-item-next .fdsport-btn,
.fdsport-carousel .carousel-item-prev .fdsport-btn {
    margin-bottom: -200px;
}

.fdsport-carousel .active .fdsport-btn {
    animation-name: fdsport-carousel-btn-show;
    animation-duration: 400ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.fdsport-carousel .active.carousel-item-left .fdsport-btn,
.fdsport-carousel .active.carousel-item-right .fdsport-btn {
    animation-name: fdsport-carousel-btn-hide;
    animation-duration: 400ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}


/* Carousel : Matches */

.fdsport-carousel-matches .fdsport-btn-all {
    left: 10px;
}

.fdsport-carousel-matches .fdsport-btn-buy {
    right: 10px;
}

/* End Carousel : Matches */

/* Carousel : Products */

.fdsport-carousel-products .fdsport-btn-addcart {
    right: 10px;
}

/* End Carousel : Products */

/* Carousel : Product images */

.fdsport-carousel-product-images .fdsport-carousel-images-indicators {
    position: relative;
    margin-top: 20px;
    margin-right: 0%;
    margin-left: 0%;
    justify-content: flex-start;
    list-style: none;
}

.fdsport-carousel-product-images .fdsport-carousel-images-indicators > li {
    width: 100px;
    height: 100px;
    text-indent: 0px;
}

.fdsport-carousel-product-images .fdsport-carousel-images-indicators > li.active {
    border: 2px solid #8C8C8C;
    border-radius: 2px;
}

.fdsport-carousel-product-images .fdsport-carousel-images-indicators > li:hover {
    cursor: pointer;
 }

.fdsport-carousel-product-images .fdsport-carousel-images-indicators > li > img {
    width: 100%;
}

/* End Carousel : Product images */


/* ************************************************************** *
 *   LISTS & ITEMS
 * ************************************************************** */

/* Product horizontal list */

.fdsport-products-h-list {
}

.fdsport-products-h-list .fdsport-list {
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    list-style: none;
    white-space: nowrap;
    overflow-x: auto;
    background: lightgoldenrodyellow;
}

.fdsport-products-h-list .fdsport-list-title {
    font-size: 1.2em;
    font-weight: bold;
}

.fdsport-products-h-list .fdsport-item {
    display: inline-block;
    width: 180px;
    height: 150px;
    padding: 10px;
    text-align: center;
    background: orange;
}

.fdsport-products-h-list .fdsport-item-title {
    font-size: 1.05em;
}

.fdsport-products-h-list .fdsport-item-price {
    font-size: 1.1em;
    font-weight: bold;
    color: #333333;
}

.fdsport-products-h-list .fdsport-item-promo {
    font-size: 0.9em;
    color: #EE5555;
}

.fdsport-products-h-list .fdsport-btn-all {
}

.fdsport-category-title {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}


/* Product grid */

.fdsport-products-grid .fdsport-list {
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    list-style: none;
    white-space: nowrap;
}

.fdsport-products-grid .fdsport-product-item {
    display: grid;
    grid-template-columns: 40% auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    color: #333333;
}

.fdsport-products-grid .fdsport-product-item .fdsport-product-image {
    grid-column: 1;
    grid-row: 1;

    width: 100%;
    max-width: 200px;
}

.fdsport-products-grid .fdsport-product-item .fdsport-product-resume {
    grid-column: 2;
    grid-row: 1;
}

.fdsport-products-grid .fdsport-product-item .fdsport-product-favorite-wrapper {
    grid-column: 2;
    grid-row: 2;
}

.fdsport-products-grid .fdsport-product-item .fdsport-product-addcart-wrapper {
    grid-column: 2;
    grid-row: 3;
}

.fdsport-products-grid .fdsport-product-item .fdsport-product-show-wrapper {
    grid-column: 1;
    grid-row: 3;
}

.fdsport-products-grid .fdsport-product-item .fdsport-item-title {
    font-size: 1.1em;
    font-weight: bold;
}

.fdsport-products-grid .fdsport-product-item .fdsport-item-category {
    font-size: 0.90em;
    color: #444;
}

.fdsport-products-grid .fdsport-product-item .fdsport-item-price-promo {
    margin-top: 10px;
    margin-bottom: 20px;
}

.fdsport-products-grid .fdsport-product-item .fdsport-item-price {
    margin-right: 10px;
    font-size: 1.8em;
    font-weight: bold;
    color: #333333;
}

.fdsport-products-grid .fdsport-product-item .fdsport-item-promo {
    font-size: 1.2em;
    color: #EE5555;
    text-decoration: line-through;
}

.fdsport-products-grid .fdsport-product-item .fdsport-item-sizes {
    margin-bottom: 10px;
    font-size: 0.8em;
    color: #444;
}

.fdsport-products-grid .fdsport-product-item .fdsport-item-color {
    width: 15px;
    height: 15px;
}

.fdsport-products-grid .fdsport-product-item .fdsport-btn-show {
    width: 100%;
}

.fdsport-products-grid .fdsport-product-item .fdsport-btn-addcart {
    width: 100%;
}


/* ************************************************************** *
 *   HEADER STYLE
 * ************************************************************** */

#header {
    /*display: grid;*/
}

/* Expansion des menus pour prendre toute la largeur */
#menu-top,
#menu-dropdown,
#menu-dropdown .navbar-nav {
    width: 100%;
}

/* Style des items du menu gauche (ou deuxieme menu en desktop) */
#menu-dropdown .nav-item:hover {
    background: rgba(200, 200, 200, 0.1);
}

#logo-desktop {
    width: 200px;
    height: 200px;
    background: url("../img/logo.png");
    background-size: cover;
    /*background: red;*/
}

#search-form {
    margin-top: 15px;
    /*background: lightblue;*/
}

#search-form .fdsport-btn-icon {
    margin-left: 10px;
    color: #F2F2F2;
}

#account-cart-wrapper {
    /*background: blue;*/
}

#account-cart-wrapper .fdsport-btn-icon {
    margin-left: 20px;
    color: #F2F2F2;
}

#account-icon {
    /*background: green;*/
}

#cart-icon {
    /*background: lightgreen;*/
}



/* ************************************************************** *
 *   FOOTER STYLE
 * ************************************************************** */

#footer {
    margin-top: 100px;
    padding: 20px 0px 20px 0px;
    background: #DDDDDD;
}

#footer-social-networks {
    text-align: center;
}

#footer-social-networks .fab {
    font-size: 7em;
    opacity: 0.9;
    transition: all .1s;
}

#footer-social-networks .fab:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1, 1.1);
}



/* ************************************************************** *
 *   CONTENT STYLE
 * ************************************************************** */

#logo-mobile-wrapper {
    text-align: center;
}

#logo-mobile {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: url("../img/logo.png");
    background-size: cover;
}

#team-products-wrapper {
    text-align: center;
}

#team-products-banner {
    display: inline-block;
    width: 100%;
    height: 150px;
    background: green;
}


#product-details {}

#product-details .fdsport-carousel-product-images {
}

#product-details .fdsport-product-resume {
    display: grid;
}

#product-details .fdsport-product-resume .fdsport-product-attributes {
    grid-column: 1 / span 2;
    grid-row: 1;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

#product-details .fdsport-product-attributes .fdsport-label {
    font-weight: bold;
}

#product-details .fdsport-product-attributes select {
    width: 50px;
}

#product-details .fdsport-product-resume .fdsport-item-price-promo {
    grid-column: 2;
    grid-row: 2;

    margin-bottom: 20px;
    text-align: right;
}

#product-details .fdsport-product-resume .fdsport-item-price {
    margin-left: 10px;
    font-size: 1.8em;
    font-weight: bold;
    color: #333333;
}

#product-details .fdsport-product-resume .fdsport-item-promo {
    font-size: 1.2em;
    color: #EE5555;
    text-decoration: line-through;
}

#product-details .fdsport-product-resume .fdsport-product-favorite-wrapper {
    grid-column: 1;
    grid-row: 3;
}

#product-details .fdsport-product-resume .fdsport-product-addcart-wrapper {
    grid-column: 2;
    grid-row: 3;

    text-align: right;
}

#product-details .fdsport-item-color {
    width: 30px;
    height: 30px;
}


/* ************************************************************** *
 *   PARTICULAR STYLES VIA MEDIA QUERIES
 * ************************************************************** */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .fdsport-carousel .carousel-control-prev,
    .fdsport-carousel .carousel-control-next {
        bottom: 50px;
    }

    .fdsport-carousel .fdsport-btn {
        position: absolute;
        bottom: 10px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #content {
        max-width: 720px;
    }

    #search-form {
        margin-top: 0px;
    }
    
    .fdsport-category-title {
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: left;
    }


    /* Product grid */
    .fdsport-products-grid .fdsport-list {}

    .fdsport-products-grid .fdsport-product-item {
        /*display: block;*/
        grid-template-columns: 50%;
        padding: 10px 10px 20px 10px;
        /*margin: 0px 5px 30px 5px;*/
        margin-bottom: 30px;
        border: 1px solid #CCC;
        border-radius: 5px;
        box-shadow: 2px 2px 5px 0px #BBB
    }

    .fdsport-products-grid .fdsport-product-item .fdsport-item-title-top {
        grid-column: 1 / span 2;
        grid-row: 1;

        font-size: 1.1em;
    }

    .fdsport-products-grid .fdsport-product-item .fdsport-product-image {
        grid-column: 1;
        grid-row: 2;
    }

    .fdsport-products-grid .fdsport-product-item .fdsport-product-resume {
        grid-column: 2;
        grid-row: 2;
    }

    .fdsport-products-grid .fdsport-product-item .fdsport-product-favorite-wrapper {
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    .fdsport-products-grid .fdsport-product-item .fdsport-product-addcart-wrapper {
        grid-column: 1 / span 2;
        grid-row: 4;
    }

    .fdsport-products-grid .fdsport-product-item .fdsport-product-show-wrapper {
        grid-column: 1 / span 2;
        grid-row: 5;
    }

    /*
    .fdsport-products-grid .fdsport-product-item .fdsport-item-title {
        font-size: 1em;
        font-weight: normal;
    }
    */

    .fdsport-products-grid .fdsport-product-item .fdsport-item-category {
        font-size: 0.85em;
        line-height: 0.85em;
    }

    .fdsport-products-grid .fdsport-product-item .fdsport-item-price-promo {
        margin-bottom: 20px;
    }

    .fdsport-products-grid .fdsport-product-item .fdsport-item-price {
        font-size: 1.2em;
    }

    .fdsport-products-grid .fdsport-product-item .fdsport-item-promo {
        font-size: 0.9em;
    }

    .fdsport-products-grid .fdsport-product-item .fdsport-item-sizes {
        margin-bottom: 0px;
    }

    .fdsport-products-grid .fdsport-product-item .fdsport-product-favorite-wrapper {
        text-align: center;
    }

    .fdsport-products-grid .fdsport-product-item .fdsport-product-addcart-wrapper {
        text-align: center;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #content {
        max-width: 960px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #content {
        max-width: 1140px;
    }
}